bin/*
asm/*
asm_o/*
obj/*
obj_o/*
bin_test/*
obj_test/*


lib/Celero
lib/Celero/*
lib/CeleroBuild
lib/CeleroBuild/*
lib/Unity
lib/UnityBuild

results
results/*

*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.bin
cell_distances
